<div class="contenedor">
  <header class="cabecera">
    <h1 class="cabecera__titulo">Recetas Con Gemini</h1>
  </header>
  <main class="cuerpo">
    <section class="load">
      <div class="load__data">
        <h2 class="load__data__titulo">Carga una imagen:</h2>
        <h4 class="load__data__titulo-img">Título de imagen: <span>{{imgTitle()}}</span></h4>
        <button (click)="fileInput.click()" class="load__data__boton">Seleccionar</button>
      </div>
      <img class="load__preview" [src]="imgPreview()">
  
    </section>
    <section class="receta">
      <h2 class="receta__titulo">Platillo Seleccionado</h2>
      <h3>Nombre: <span>{{receta()?.name}}</span></h3>
      <h3>Pais: <span>{{receta()?.country}}</span></h3>
      <h3>Ingredientes:</h3>
      <ul>
        @for (item of receta()?.ingredients; track item) {
          <li>{{item}}</li>
        }
      </ul>
      <h3>Receta: <span>{{receta()?.recipe}}</span></h3>
      <p></p>
      <h3>Detalles: <span>{{receta()?.details}}</span></h3>
    </section>
  </main>
</div>

<input #fileInput style="display: none;" type="file" (change)="getFile($event)">